.courses section {
	margin: auto 120px;
}

.phone .courses .page-section {
	margin: auto 24px;
}

.phone .courses .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .courses .back-button {
	display: none;
}

.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}

section {
    	color:green;
}

td {
    width: 140px; 
    border: 1px solid #000000;
    word-break: break-all;
}

table, td, th {
    border: 1px solid #8AC007;
}

th {
    background-color: #8AC007;
    color:white;
}

h3 {
	text-align: left;
	color:green;
}

h1 {
	text-align: left;
	color:#8AC007;
}
